html{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    background-image: url(bg/time1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }

  #container,.time{
    background-color: #0f0d0dcb;
    display: flex;
    justify-content: center;
    font-family: system-ui;
    font-size: 70px;
    font-weight: bold;
    color: rgba(91, 119, 177, 0.648);
    align-items: center;
  }
  
  #container {
    height: 260px;
    width: 600px;
    border: solid #000000 2px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow:0 0 30px rgb(77, 77, 245);
  }

  #time-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
  }

  #date-container{
    font-size: 50px;
  }
  
  .time {
    /* height: 200px; */
    width: 20%;
    background-color: #0b030300;
  }

  .blink{
    color:  #0f0d0d2b;
  }

  #refresh{
    position: fixed;
    left: 48%;
    bottom: 30px;
    height: 20px;
    width: 80px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #0f0d0da0;
    border: solid black 2px;
    color: rgba(122, 151, 208, 0.648);
    border-radius: 5px;
  }
  #refresh:active{
    background-color: #000000;
    color: white;
  }

  @media(min-width:450px) and (max-width: 650px) {
   
    #container{
      width: 400px;
      height: 200px;
    }
    p,.time{
      font-size: 40px;
    }
    #date-container{
      font-size: 30px;
    }
    #refresh{
      left: 45%;
    }
  }
  
  @media (max-width:450px) {
    #container{
      width: 350px;
      height: 200px;
    }
    p,.time{
      font-size: 40px;
    }
    #date-container{
      font-size: 30px;
    }
    #refresh{
      left: 42%;
    }
  }

  @media (max-height:300px) {
    #container{
      width: 350px;
      height: 150px;
    }
    #refresh{
      bottom: 0%;
    }
  }